<h2 mat-dialog-title>Are you sure you want to delete this product?</h2>
<mat-dialog-content>
  <app-alert *ngIf="errMsg" [message]="errMsg" alertType="warning"></app-alert>
  <div *ngIf="product">
    <p class="text-center">{{product.name}}</p>
    <p class="text-center">{{product.price | currency: 'zł'}}</p>
    <div class="my-2">
      <img [src]="product.imageUrls[0]" class="img-fluid mx-auto d-block" [alt]="product.name">
    </div>
    <p>{{product.mainDesc}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="deleteProduct()">Delete</button>
</mat-dialog-actions>
