<ng-container *ngIf="product">
<div class="row">
    <div class="col-md-6 col-12">
      <app-images-carousel [productName]='product.name' [imageUrls]='product.imageUrls'></app-images-carousel>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <p class="product-name">{{product.name}}</p>
        <p>{{product.price | currency: 'zł'}}</p>
        <p>Buy!</p>
      </div>
    </div>
</div>
  <div class='row'>
    <div class='col-md-12 mt-3'>
      <p class='product-desc'>Product description</p>
      <div *ngIf="htmlContent" [innerHtml]='htmlContent'></div>
    </div>
  </div>
  <div class='row' *ngIf='parameters'>
    <div class='col-md-12 mt-3'>
      <p class='product-desc'>Specification</p>
      <div class="justify-content-center">{{product.mainDesc}}</div>
    </div>
  </div>

</ng-container>
