<form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()">
  <h3>Add new category form</h3>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Category name</mat-label>
      <input matInput [formControl]="addCategoryForm.controls.name">
      <mat-error *ngIf="addCategoryForm.controls.name.invalid">{{ getErrorMessage(addCategoryForm.controls.name) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='d-flex justify-content-end'>
    <button mat-raised-button color='primary' [disabled]="addCategoryForm.invalid">Add</button>
  </div>
  <app-alert *ngIf="successMsg" [message]="successMsg" [alertType]='"success"'></app-alert>
  <app-alert *ngIf="errorMsg" [message]="errorMsg" [alertType]='"warning"'></app-alert>
</form>
