<h3>Delivery address:</h3>
<form [formGroup]='addressForm'>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>City</mat-label>
      <input matInput [formControl]='controls.city'>
      <mat-error *ngIf='controls.city.invalid'>{{ getErrorMessage(controls.city) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Street</mat-label>
      <input matInput [formControl]='controls.street'>
      <mat-error *ngIf='controls.street.invalid'>{{ getErrorMessage(controls.street) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Street nr</mat-label>
      <input matInput [formControl]='controls.number'>
      <mat-error *ngIf='controls.number.invalid'>{{ getErrorMessage(controls.number) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Postcode</mat-label>
      <input matInput [formControl]='controls.postCode'>
      <mat-error *ngIf='controls.postCode.invalid'>{{ getErrorMessage(controls.postCode) }}</mat-error>
    </mat-form-field>
  </div>
</form>

