<section *ngIf='order'>
  <p>Order number: {{order.orders}}</p>
  <p>Order status: <b>{{order.status}}</b></p>
  <p>Order price: {{order.summaryPrice | currency: 'zł'}}</p>
  <div class='row my-2'>
    <div class='col-md-6' *ngIf='order.address as address'>
      <h2>Delivery address</h2>
      <p>City: {{address.city}}</p>
      <p>Street: {{address.street}}</p>
      <p>House no: {{address.number}}</p>
      <p>Postcode: {{address.postCode}}</p>
    </div>
    <div class='col-md-6'>
      <h2>Delivery type:</h2>
      <p>{{order.deliver.name}}</p>
    </div>
  </div>
  <div class='row'>
    <h2>Products in order:</h2>
    <div class='basket-product' *ngFor='let basketProduct of order.items'>
      <app-basket-product [basketView]='false' [basketProduct]='basketProduct'></app-basket-product>
    </div>
  </div>
</section>

<app-alert *ngIf='errorMsg' [message]='errorMsg' [alertType]='"warning"'></app-alert>

