<form [formGroup]="passwordsForm" (ngSubmit)="onPasswordChange()">
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Password</mat-label>
      <input type='password' matInput [formControl]="passwordsForm.controls.password">
      <mat-error *ngIf="passwordsForm.controls.password.invalid">{{ getErrorMessage(passwordsForm.controls.password) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Repeat password</mat-label>
      <input type='password' matInput [formControl]="passwordsForm.controls.repeatedPassword">
      <mat-error *ngIf="passwordsForm.controls.repeatedPassword.invalid">{{ getErrorMessage(passwordsForm.controls.repeatedPassword) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class='d-flex justify-content-end'>
    <button mat-raised-button color='primary' [disabled]="passwordsForm.invalid">Change password</button>
  </div>
</form>
