
<form>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>E-mail</mat-label>
      <input matInput type='email'>
    </mat-form-field>
  </div>

  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Password</mat-label>
      <input type='password' matInput>
    </mat-form-field>
  </div>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Repeat password</mat-label>
      <input type='password' matInput>
    </mat-form-field>
  </div>
  <div class='d-flex justify-content-end'>
    <button mat-raised-button color='primary'>Sign up</button>
  </div>
</form>

