
<form [formGroup]="passwordRecoveryForm">
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>E-mail</mat-label>
      <input matInput type='email' [formControl]="passwordRecoveryForm.controls.email">
      <mat-error *ngIf="passwordRecoveryForm.controls.email.invalid">{{ getErrorMessage(passwordRecoveryForm.controls.email) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='d-flex justify-content-end'>
    <button mat-raised-button color='primary' [disabled]="passwordRecoveryForm.invalid">Recover your password</button>
  </div>
</form>

