<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add product
      </mat-panel-title>
      <mat-panel-description>
        Add new product form
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-add-product-form></app-add-product-form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Delete product
      </mat-panel-title>
      <mat-panel-description>
        Delete product form
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-delete-product-form></app-delete-product-form>
  </mat-expansion-panel>
</mat-accordion>
